doctype html
html
  head
    link(rel='stylesheet', href='./css/plane.css')
  body
    .container
      .plane
        svg.left
          polygon(points='70,0 70,90 0,90',style='fill:#eaeef1')
        svg.right
          polygon(points='70,0 70,90 0,90',style='fill:#eaeef1')
        svg.bottom
          polygon(points='70,0 70,90 10,90',style='fill:#637786')